<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Struts2Hibernate3Spring3Tile2Integration">
        <wb-resource deploy-path="/" source-path="/WebRoot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
        <property name="context-root" value="doj"/>
        <property name="java-output-path" value="/Struts2Hibernate3Spring3Tile2Integration/build/classes"/>
    </wb-module>
</project-modules>
